body {
	height: 2000px;
}

.main {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	min-width: 100%;
	min-height: 100%;
    background-image: url(../img/bg.png);
	-webkit-background-size: cover;
}

.cloud img {
	height: 20%;
	-webkit-background-size: cover;
	position: absolute;
	z-index: 10;

}

.cloud {
	display: flex;
	justify-content: center;
}

.sloth img {
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
	position: absolute;
	z-index: 10;
}

.logo img {
	width: 30%;
	-webkit-background-size: cover;
	position: absolute;
	z-index: 100;
	display: flex;
	justify-content: center;

}







